appdirs==1.4.3
bibtexparser==0.6.2
gender-detector==0.1.0
Genderize==0.1.5
numpy==1.22.0
packaging==16.8
pandas==0.19.2
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
unicode-tex==0.1.1
